*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(48, 112, 141);
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

li{
  display: inline-block;
 

}

 a {
  text-decoration: none;
  color: black;
  margin-right:20px;
  align-items: center;
  justify-content: center;
}

#ipay{
  font-size: 20px;
  margin-right: auto;
  padding: 30px;
}

button {
  border-radius: 5px;
  width: 90px; height: 30px;
  padding: 2px;
  margin-right: 40px;
  text-align: center;
  justify-content: space-between;
  border: 0;
  background-color: rgb(48, 112, 141);
}

#get-started{
background-color: whitesmoke;
border-radius: 5px;
height: 30px;
width: 80px;
}

button:hover {
    background-color: grey;
    color: rgb(160, 48, 48);
              }

ul{
  display: flex;
  justify-content: center;
}

ul div {
  margin-right: 300px;
}

section {
  display: flex;
  height: 400px;
  width: 100%;
  background-color: antiquewhite;
  margin: 10px;
}

.hero  {
background-image: url(./pexels-pixabay-531880.jpg);
height: 300px;
width: 100%;
padding-top: 80px;
}

h2,h3 {
text-align: center;
}


.hero button {
margin-left:45%;
margin-top: 15px;
border-radius: 10px;
font-size: large;
width: 110px;
}


.hero h3{
  margin-top: 20px;
}

.deposit {
  background-color: rgb(202, 202, 34);
}

.main-container {
  background-color: rgb(206, 206, 176);
  display: flex;
  gap: 180px;
  padding: 2.5%;
  margin: 2.5%;
  border-radius: 20px;
  height: 400px;
  align-items: center;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0 5), -10px 
  -10px 5px 0px rgba(0, 0, 0, 0, 5);
}

.main-container button {
  margin-top: 50px;
  margin-left: 50px;
  background-color:rgb(206, 206, 176);
 
}

#green {
  background-color:rgb(48, 112, 141);
}

.main-container h1{
  font-size: 40px;
  margin-left: 30px;
  padding: 10px;
}

.deposit {
  background-color: whitesmoke;
  
  font-size: larger;
  height: 200px;
  padding-top: 50px;
}

.deposit h1{
  justify-content: center;
  margin-left: 450px;
  padding: 3px;
}

.currency img {
height: 350px;
margin-left: 50px;
border-radius: 15px;
}

