
body { 
        background: grey url(pexels-pixabay-531880.jpg) no-repeat center scroll; 
        background-size: 100%;
       
        }
        .main {color:white;}
        #us {border-style: solid;}
